services:
 internal-gateway:
    container_name: internal-gateway
    build:
      context: .
      dockerfile: Dockerfile
    image: internal-gateway:latest
    environment:
      PORT: ${PORT}
      SPRING_PROFILES_ACTIVE: docker
      KEYCLOAK_ENVIRONMENT: ${KEYCLOAK_ENVIRONMENT}
      KEYCLOAK_BASE_URI: ${KEYCLOAK_BASE_URI}
      IDENTITY_SERVICE_URI: ${IDENTITY_SERVICE_URI}
    ports:
      - "${PORT}:${PORT}"
    networks:
      - mocha-network

networks:
  mocha-network:
    external: true