server:
  port: ${PORT}

spring:
  application:
    name: internal-gateway
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_BASE_URI}/realms/${KEYCLOAK_ENVIRONMENT}

  cloud:
    gateway:
      httpclient:
        connect-timeout: 2000
        response-timeout: 5s
      routes:
        # /api/identity/** -> /**
        - id: identity
          uri: ${IDENTITY_SERVICE_URI}
          predicates:
            - Path=/api/identity/**
          filters:
            - StripPrefix=2

logging:
  level:
    org.springframework.web.reactive.function.client: INFO

management:
  endpoints:
    web:
      exposure:
        include: health, info